* {
    display: inline-block;
}

.hidden {
    display: none;
    position: absolute;
    left: 20px;
    top: 120px;
}
#input {
    font-family: serif;
    font-size: 16px;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 120px;
    border: 1px solid black;
    width: 170px;
    height: 20px;
    padding: 10px;
    border-radius: 3px;

}
#textbox {
    font-family: serif;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 121px;
    left: 20px;
    border: 1px solid black;
    width: 170px;
    height: 20px;
    padding: 10px;
    border-radius: 3px;
}

.name {
    position: absolute;
    top: 83px;
    left: 23px;
    margin: 0;
}

.about {
    position: absolute;
    top: 170px;
    left: 20px;
}
.text-box-2 {
    font-family: serif;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 231px;
    left: 20px;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
}
.TA {
    font-family: serif;
    font-size: 16px;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 230px;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
}
